{% extends 'base.html' %}

{% block title %}
Your Support Application

{% endblock title %}

{% block body %}

<body class="bg-gray-100  leading-normal tracking-normal">
    {% include 'home/navbar.html' %}
    <div class="container w-full mx-auto pt-28 ">

        <!-- message  -->
        {% include 'home/message.html' %}


        <!-- message -->


        <div class="flex  flex-wrap flex-grow mt-2 h-full ">
            {% include 'home/ticketcard.html' %}
            {% include 'home/monthlysummary.html' %}
        </div>
        {% include 'tickets/addticket.html' %}
    </div>
    {% include 'home/footer.html' %}
    
</body>

{% endblock body %}