{% extends 'base.html' %}

{% block title %}
Your Support Application

{% endblock title %}

{% block body %}

<body class="bg-gray-100  leading-normal tracking-normal">
    {% include 'home/navbar.html' %}
    <div class="container w-full mx-auto pt-28 ">

        <!-- message  -->
        {% if msg %}
            <div
                class="max-w-xs shadow mx-auto py-1 border flex border-pink-300 shadow-md justify-center space-x-3 items-center rounded rounded-md text-center">
                {% if type == 'success' %}
                    <i class="far fa-check-circle text-green-600"></i>
                {% else %}
                    <i class="far fa-times-circle text-red-600"></i>
                {% endif %}
                <p class="text-md font-bold">{{msg}}</p>
            </div>
        {% endif %}

        <!-- message -->


        <div class="flex  flex-wrap flex-grow mt-2 h-full ">
            {% include 'home/ticketcard.html' %}
            {% include 'home/monthlysummary.html' %}
        </div>
        {% include 'tickets/addticket.html' %}
    </div>
    {% include 'home/footer.html' %}
    
</body>

{% endblock body %}