{% include 'base.html' %}
{% load static %}
{% block body %}
<div class="w-full md:w-1/2 p-3">
    <!--Graph Card-->
    <div class="bg-white border rounded shadow">
        <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">MOnthly tickets and solved tickets</h5>
        </div>
        <div class="p-5">
            <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
            <script>
                
                let fetchData = async () => {
                    url = 'http://127.0.0.1:8000/ticket/mts-chart/'
                    await fetch(url).then(res => res.json()).then(
                        (data) => {
                            const month_label =  data.map(index=> index.month_name)
                            const total_ticket =  data.map(index=>index.total_ticket )
                            const solved_ticket =  data.map(index=>index.solved_ticket )
                            chartConfig.data.labels = month_label
                            chartConfig.data.datasets[0].data = total_ticket
                            chartConfig.data.datasets[1].data = solved_ticket
                            my_chart.update()
                        })
                }
                fetchData()
                let chartConfig = {
                    "type": "bar",
                    "data": {
                        "labels": [],
                        "datasets": [{
                            "label": "Total Ticket",
                            "data": [],
                            "borderColor": "rgb(255, 99, 132)",
                            "backgroundColor": "rgba(255, 99, 132, 0.2)"
                        }, {
                            "label": "Solved Tickets",
                            "data": [],
                            "type": "line",
                            "fill": false,
                            "borderColor": "rgb(54, 162, 235)"
                        }]
                    },
                    "options": {
                        "scales": {
                            "yAxes": [{
                                "ticks": {
                                    "beginAtZero": true
                                }
                            }]
                        }
                    }
                }



               const my_chart =  new Chart(document.getElementById("chartjs-7"), chartConfig);


            </script>
        </div>
    </div>
    <!--/Graph Card-->
</div>
{% endblock body %}