{% include 'base.html' %}
{% load static %}
{% block body %}
<div class="w-full md:w-1/2 p-3">
    <!--Graph Card-->
    <div class="bg-white border rounded shadow">
        <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">MOnthly ticekt and solved ticket</h5>
        </div>
        <div class="p-5">
            <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
            <script>
                let chartConfig = {
                    "type": "bar",
                    "data": {
                        "labels": ["January", "February", "March", "April", "May", "June"],
                        "datasets": [{
                            "label": "Page Impressions",
                            "data": [0, 0, 10, 20, 30, 40],
                            "borderColor": "rgb(255, 99, 132)",
                            "backgroundColor": "rgba(255, 99, 132, 0.2)"
                        }, {
                            "label": "Adsense Clicks",
                            "data": [0, 0, 5, 15, 10, 30],
                            "type": "line",
                            "fill": false,
                            "borderColor": "rgb(54, 162, 235)"
                        }]
                    },
                    "options": {
                        "scales": {
                            "yAxes": [{
                                "ticks": {
                                    "beginAtZero": true
                                }
                            }]
                        }
                    }
                }

                new Chart(document.getElementById("chartjs-7"), chartConfig);

                let fetchData = async  ()=> {
                    url = 'http://127.0.0.1:8000/ticket/mts-chart/'
                    fetch(url).then(res=> res.json()).then(data=> data)
                }
                fetchData().then(datapoint =>{
                    
                })


            </script>
        </div>
    </div>
    <!--/Graph Card-->
</div>
{% endblock body %}