{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
       
    </style>

{% endblock style %}

{% block body %}
{% include 'home/navbar.html' %}

<div class="container grid grid-cols-4 mx-10">
    <div
        class="container shadow border shadow-md mt-28 bg-white mb-6 col-span-3 max-w-4xl mx-auto  border border-gray-300 ">
        <h3 class="uppercase text-gray-500 font-bold py-3 bg-gray-200 border border-pink-100 text-2xl text-center">your
            tickets</h3>
            {% include 'home/message.html' %}
        <div class="overflow-y-scroll max-h-screen my-3 scroll-auto">
            {% for ticket in my_tickets %}
            <div class="shadow shadow-md h-auto mx-4 pt-8">
                <div class="flex justify-between  p-2 border border-pink-200 font-bold bg-gray-50 ">
                    <p class="uppercase">Issued On: {{ticket.created_on}}</p>
                    {% if ticket.assigned_to is not null and not ticket.is_opened and not ticket.is_closed %}
                        <p class="uppercase">Status: Assigned</p>
                    {% elif ticket.is_closed and ticket.closed_by is not null %}
                        <p class="uppercase">Status: Closed</p>
                    {% elif ticket.is_opened  %}
                        <p class="uppercase">Status: Progressing</p>
                    {% else %}
                        <p class="uppercase">Status: Pending</p>
                    {% endif %}

                    <div class="flex  text-pink-500 space-x-3">

                    {% if not ticket.is_opened %}
                        {% if  request.user.is_admin or request.user.is_staff%}
                            <li class="list-none">
                                <span class="tooltip tooltip tooltip-top" id='openBtnTooltip' data-tip="Open Ticket">
                                    <i class="far fa-plus-square openTicketBtn cursor-pointer" value={{ticket.id}} 
                                    url= {% url 'open_ticket' %}>
                                    </i>
                                </span>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if not ticket.is_closed %}
                        <li class="list-none">
                            <span class="tooltip tooltip tooltip-top " id='closeBtnTooltip' data-tip="Close Ticket">
                                <form method="post">
                                    {% csrf_token %}
                                    <i class="far fa-check-circle closeBtn cursor-pointer" value={{ticket.id}} url={% url 'close_ticket' %}></i>
                                </form>
                            </span>
                        </li>
                    {% endif %}
                        <li class="list-none">
                            <span class="tooltip tooltip tooltip-top" data-tip="View Details">
                                <a href="{% url 'detail_ticket' pk=ticket.id %}"><i class="fas fa-list-ul" data-tooltip-target="tooltip-detial"></i></a>
                            </span>
                        </li>
                    </div>
                </div>
                <div class="px-4 py-3">
                    <h3 class="text-gray-700 font-bold uppercase leading-10 ">{{ticket.title}}</h3>
                    <p class="text-gray-500">{{ticket.description|truncatechars:130}}</p>
                </div>
                <div class="footer py-3 bg-gray-100 flex space-x-3 justify-between px-2">
                    <p class="uppercase text-xs font-bold">Opened by: {{ticket.opened_by}} </p>
                    <p class="uppercase text-xs font-bold">closed by: {{ticket.closed_by}} </p>
                    <p class="uppercase text-xs font-bold">closed on: {{ticket.closed_at}}</p>
                </div>
            </div>


            {% endfor %}

        </div>
    </div>
    <div class="container shadow border shadow-md mt-28 bg-white  h-50 mb-6">
        <h3 class="uppercase text-gray-500 font-bold py-3 bg-gray-200 border border-pink-100 text-2xl text-center">
            Filters</h3>    
        <form action="" method="get">
            <div class="flex flex-col  mb-4 p-4">
                <div class="flex-flex-col">
                    <h3 class="text-md py-3 font-bold">Duration</h3>
                    <div date-rangepicker class="flex items-center">
                        <div class="">
                            <input name="from" type="date"
                                class="bg-gray-50 border py-2  border-gray-300 text-gray-900 sm:text-sm rounded-md  focus:outline-none  focus:border-pink-600  w-full px-1"
                                placeholder="dd-mm-yyyy">
                        </div>
                        <span class="mx-2 text-gray-500">to</span>
                        <div class="">
                            <input name="to" type="date" 
                                class="bg-gray-50 py-2 border border-gray-300 text-gray-900 sm:text-sm rounded-md  focus:outline-none  focus:border-pink-600  w-full px-1"
                                placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>


                <div class="flex space-x-10">
                    <div class="flex flex-col">
                        <h3 class="text-md py-3 font-bold ">Stage</h3>
                                                    
                        <select name="stage" id="cars" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-sm focus:ring-pink-500 focus:border-pink-500 block  w-32 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
                            <option selected class='text-center' value=''>Select Stage</option>
                            <option class='text-center' value="pending">Pendings</option>
                            <option class='text-center' value="assigned">Assigned</option>
                            <option class='text-center' value="progressing">Progressing</option>
                            <option class='text-center' value="solved">Solved</option>
                        </select>
                    </div>



                    <div class="flex flex-col">
                        <h3 class="text-md py-3 font-bold ">Priority</h3>
                        <select name="priority" id="cars" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-sm focus:ring-pink-500 focus:border-pink-500 block w-32 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500">
                            <option selected class='text-center' value=''>Select Priority</option>
                            <option class='text-center' value="critical">Critical</option>
                            <option class='text-center' value="medium">Medium</option>
                            <option class='text-center' value="normal">Normal</option>
                            <option class='text-center' value="solved">Solved</option>
                        </select>


                    </div>
                </div>

                <div class="flex text-center justify-center items-center my-4">
                    <button class="border shadow shadow-md px-5 py-2 bg-pink-600 rounded rounded-md text-white">
                        submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="text-black my-3 bg-black ">
<div class="flex justify-center item-center">
    {% include 'home/footer.html' %}
</div>
{% endblock body %}


{% block js %}
<script src="{% static 'js/closeticketajax.js' %}"></script>

{% endblock js %}